# Python cache & artifacts
__pycache__/
*.pyc

# Virtual environments
dlenv/
venv/
env/

# Datasets
dataset/

# Video files
*.mp4

# Model weights
# Uncomment *.pth if file size is < 100MB
# *.pth

# IDE settings
.vscode/
